.page-item-ti {
  list-style: none;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0px 3px;
  cursor: pointer;
  border-radius: 8%;
  background: #fef6e4;
}
.page-link-ti {
  font-size: 20px;
}

.first-link-ti {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 3px;
}
.last-link-ti {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 3px;
}
.next-item-ti {
  display: none;
}
.prev-item-ti {
  display: none;
}
.container-ti {
  display: flex;
  justify-content: center;
}

.page-item-ti:hover {
  background: #08d9d6;
  color: #fef6e4;
}

.paginationActive-ti {
  background: #ff2e63;
  color: #fef6e4;
  user-select: none;
  cursor: default;
}
.paginationActive-ti:hover {
  background: #ff2e63;
  color: #fef6e4;
}
.linkActive-ti:hover {
  user-select: none;
  cursor: default;
}
